In [6]:
from sandsnake import Dune
from sandsnake.models.constants import Dataset
from pypika import Query, Table, Field, Database

In [ ]:
# Queries with default parameters
dune = Dune()
query = dune.fetch_query(83579)
query.df.head()

In [ ]:
query.info

In [ ]:
query.parameters

In [ ]:
old_params = query.parameters
old_params[0].value = 'xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
new_params = old_params
custom_query = dune.fetch_query(83579, parameters=new_params)

In [ ]:
custom_query.info

In [ ]:
custom_query.df.head()

In [7]:
dune = Dune(username='suds', password='^R7t2Sc&vriLbro^6')

In [8]:
print(dune.user_id)

96571

In [9]:
query_string = "select * from ethereum.transactions\nLIMIT 100\n"

In [17]:
ethereum = Database('ethereum')
q = Query.from_(ethereum.transactions).select('*').limit(100)
q_string = q.get_sql(quote_char=None)

'SELECT * FROM ethereum.transactions LIMIT 100'

In [18]:
# TODO build sql into statements
# TODO need to get different Query for solo queries, ie.e get result by JobID, inspect graphql
created_query = dune.create_query("blah", q_string, Dataset.ETHEREUM)

{'data': {'insert_queries_one': {'id': 560101, 'dataset_id': 4, 'name': 'blah', 'description': '', 'query': 'SELECT * FROM ethereum.transactions LIMIT 100', 'private_to_group_id': None, 'is_temp': False, 'is_archived': False, 'created_at': '2022-04-01T20:13:29.166403+00:00', 'updated_at': '2022-04-01T20:13:29.166403+00:00', 'schedule': None, 'tags': None, 'parameters': [], '__typename': 'queries', 'visualizations': [], 'forked_query': None, 'user': {'id': 96571, 'name': 'suds', 'profile_image_url': None, '__typename': 'users'}, 'query_favorite_count_all': None, 'favorite_queries': []}}}

In [14]:
created_query.df.head()

,access_list,block_hash,block_number,block_time,data,from,gas_limit,gas_price,gas_used,hash,index,max_fee_per_gas,max_priority_fee_per_gas,nonce,priority_fee_per_gas,success,to,type,value
0,None,\x887c665b0c52ccace092d817e984e2e828ef59079295...,47287,2015-08-07T08:50:01+00:00,None,\xdb312d1d6a2ccc64dd94a3892928bac82b4e8c15,21000,100000000000,21000,\xd3e6a2fc34066d20bb83020b1ee95b9dc7919fd242bd...,0,None,None,0,None,None,\x34bb6978c5a1ad68777ad388c6787df53903430c,None,1000000000000000000
1,None,\x4869e218b0a8f5784f16193ac66cbf35c4510ace0c9b...,48698,2015-08-07T15:29:53+00:00,None,\x48040276e9c17ddbe5c8d2976245dcd0235efa43,90000,57550496008,21000,\x8ba39f908731171fe96ee4e700e71d170ef8e651fac7...,0,None,None,0,None,None,\xd8d0549637b65d58e7fb6cbdd11530b399d1ddac,None,100000000000000000000
2,None,\xab9491b62b16bd928b281a83db82483584c22aeebc0d...,49051,2015-08-07T17:03:48+00:00,None,\x8686578c4f7c75246f548299d6ffdac3b67b5cd1,90000,57178423039,21000,\x57f8ba638903d6335e211eb470159587c73316788880...,0,None,None,0,None,None,\x87abffa6b80f712c852a9558120ba6611f0b5e46,None,45150000000000000000
3,None,\x1f9adc2190701ca3085b28252e4f1f467d980f763dad...,49174,2015-08-07T17:41:03+00:00,None,\x18e4ce47483b53040adbab35172c01ef64506e0c,90000,58589751415,21000,\xb8280da44f8d35011c3f431f7d1a82213477a4e742de...,2,None,None,0,None,None,\xfb26ae2d3621829472555fbd11bb2a324b7a5c57,None,10000000000000000000
4,None,\xf1f392fd197a149afe9f8843d7ba759d1a9f79d1ef62...,49938,2015-08-07T21:06:21+00:00,None,\xc6bf5b6558f2ee21f2e43d9ff9b5408a0cb89413,90000,71214529679,21000,\x538e1664c12c55287c98dc5dd248f60c642cbbbd7a18...,0,None,None,4,None,None,\x33a3f479f6c3e7f91128348490d1f7e8d2a0fab5,None,5000000000000000000

In [ ]:
created_query.info